.frameParent2 {
  position: absolute;
  top: 150px;
  left: 70px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 0;
  box-sizing: border-box;
  gap: 16px;
  font-size: 16px;
  color: #262626;
}

.frameParent3 {
  width: 280px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.rectangleWrapper,
.username {
  position: relative;
  flex-shrink: 0;
}
.rectangleWrapper {
  width: 40px;
  height: 32px;
  overflow: hidden;
}

.username {
  width: 230px;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-weight: 600;
  display: inline-block;
}

.frameChild3 {
  position: absolute;
  top: 4px;
  left: 8px;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.lineDiv {
  width: 281px;
  position: relative;
  border-top: 1px solid #065a98;
  box-sizing: border-box;
  height: 1px;
  opacity: 0.3;
}

.privacyParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  text-align: center;
  font-size: 13px;
  color: #989898;
}

.copyright2022Container {
  width: 280px;
  position: relative;
  font-size: 13px;
  line-height: 20px;
  color: #747474;
  display: inline-block;
}

.allRightReserved {
  margin: 0;
}

.frameParent,
.imagesPlaceholderSquareParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.frameParent {
  position: absolute;
  top: 432px;
  left: 1156px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
